@charset "utf-8";
body{margin: 0; }

/* font-family: 'Black Han Sans', sans-serif; font-family: 'Roboto Slab', serif; */
.bg01{
    background-image: url(../images/main03.png); width: 100%; height: 800px;
    background-repeat: no-repeat; background-size: 100%; background-position: center;
    border: 1px solid red; box-sizing: border-box;
}
.bg01 h2{
    font-family: 'Gothic A1', sans-serif; font-size: 2.3em; color: #ffa800;
    border-radius: 10px; background-color: rgba(85,85,85,0.8); padding: 15px; text-align: center;
    width: 70%; margin: 150px auto;  
}




