@charset "UTF-8";

body{font-family: "맑은 고딕", 'Apple SD Gothic Neo', sans-serif; margin: 0;}

/* 사이트 이름 */
.site{padding-top: 8px; padding-bottom: 8px;}
.site h3 a {
    color: #83a4a8;
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
    font-weight: normal;
}

.site h3{
    margin: 0; font-size: 30px;
}

/* nav */
.top_menu{background-color: #7cbac1;}


.menu ul {
    margin: 0; padding: 0; list-style: none;
}
.menu li a{
    display: block; padding: 15px; color: #373737; 
    font-size: 0.9em; text-decoration: none; 
}
.menu li a:hover {background-color: #75dbe7;}
.menu ul:after{
    content: ""; display: block; clear: both;
}
.menu li {float: left; width: auto;}


/* 본문 */
.summary01 img{width: 100%; height: auto; border: none;}


/* footer */
footer{
    border-top: solid 1px #ddd; padding-top:15px; padding-bottom: 15px;
}
.copyright p{
    color: #666; font-size: 0.8em; clear: both;
}


/* 599px 이하 */
@media (max-width: 599px){
    .menu li a {padding: 10px 3px; font-size: 0.6em;}
    .top_logo{padding-top: 4px; padding-bottom: 4px;}
}


/* 600px ~ 799px 사이 */
@media (min-width: 600px) and (max-width: 799px) {

    
}

/* 800px 이상 */
@media (min-width: 800px){
    .top_logo, .menu, .copyright{
        width: 1000px; margin: 0 auto;
    }
    #content{width: 100%; margin: 0 auto;}
    .lf{
        width: 15%; float: left; box-sizing: border-box; height: 100px;
    }
    .cent{width: 70%; float: left; box-sizing: border-box;}
    .rg{
        width: 15%; float: left; box-sizing: border-box; height: 100px;
    }
}


/* 1040px 이상 */
@media (min-width: 1040px){

}
