@charset "UTF-8";
body{margin:0; font-family: "맑은 고딕", 'Apple SD Gothic Neo', sans-serif;}

/* .logo, .menu{
    width: 50%; float: left; box-sizing: border-box;
    border: 1px solid red; 
} */

header:after{display: block; content: ""; clear: both;}

/* logo */
.logo h3{margin: 0; font-size: 1.9em;}
.logo h3 a{
    color: #83a4a8; text-decoration: none;
}
.logo img{width: 30px; padding-right: 10px; border: none;}


/* nav */
/* .menu {border: 1px solid red;} */
.menu ul{margin: 0; padding: 0; list-style: none;}
.menu li{ float: left; width: auto;}
.menu li a{
    display: block; padding:10px 15px; color: #000; font-size: 0.9em; text-decoration: none;
}
.menu li a:hover{background-color: #eee;}
.menu ul:after{display: block; content: ""; clear: both;}


/* header img */
.img img{
    /* border: 1px solid green; max-width: 100%; */
    width: 100%; height: auto; vertical-align: bottom;
}

/* notice */
/* .notice{border: 1px solid orange;} */

.news h4{
    margin-top: 0; margin-bottom: 5px; font-size: 1.1em; color: #666;
}
.news ul{
    margin: 0; padding: 0; list-style-type: none;
}
.news li a{
    display: block; padding: 5px; border-bottom: dotted 2px #ddd;
    font-size: 0.9em; text-decoration: none; color: #444;
}
.news li a:hover{background-color: #eee;}
.news time{
    margin-right: 10px; color: #888; font-weight: bold;
    float: left; width: 60px;
}
.news .text{
    float: none; width: auto; margin-left: 70px;
}



footer {margin: 0 auto; width: 100%;}
footer p{
    color: #666; font-size: 0.8em; margin: 0;
}


/* 박스의 왼쪽 오른쪽 정렬 */
/* header, notice, foooter */
.logo, .notice, .copy{
    padding-left: 15px; padding-right: 15px;
}

.copy{
    padding-top: 15px; padding-bottom: 15px; background-color: #ddd;
}

/* 박스의 위 아래 */
.logo{padding-top: 20px; padding-bottom: 10px;}
.notice{padding-top: 20px; padding-bottom: 20px;}


/* 599px 이하 */
@media (max-width: 599px){
    /* nav */
    .logo h3{font-size: 1.4em;}
    .menu li a{
        padding: auto 7px; font-size: 0.7em;
    }
}


/* 768px 이상 */
@media (min-width: 767px){
    .logo{
        width: 50%; float: left; box-sizing: border-box;
        /* border: 1px solid red;  */
    }
    .cont_menu{width: 50%; float: right; padding-top: 20px; box-sizing: border-box;}
}


/* 1190px 이상 */
@media (min-width: 1190px){
    header, .img, .news, footer{
        width: 1140px; margin-left: auto; margin-right: auto;
    }
    .header{
        margin-bottom: 20px; border-bottom: solid 1px #ddd;
    }
}




